.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImage {
  border: 4px solid var(--text-contrast);
  height: 200px;
  border-radius: var(--ifm-code-border-radius);
}

.cardImageContainer {
  margin-bottom: 16px;
}

.multipleSolversLogo,
.materialsLogo {
  fill: var(--text-contrast);
}